.title {
  color: white;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 21px;
  text-align: center;
}

.containerFav {
  display: flex;
  height: 100%;
  width: 100%;
}

.musicFav {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 65px;
}

.favPage:has( .loading ) .loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 180px);
  justify-content: center;
  width: 100%;
}
