.bgHeaderTop {
  align-items: center;
  background-image: linear-gradient(to bottom right, #00D5E2, #003BE5);
  display: flex;
  height: 210px;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}
